:root {
	--text-color: #FFFFFF;
	--palette0: #b5a05f;
	--palette1: #E5D9B6;
	--palette2: #A4BE7B;
	--palette3: #5F8D4E;
	--palette4: #285430;
	--palette5: #082d0f;
	--selected: #0056b3;
	--basic-font-size: 18px;
}

body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden;
	color: var(--text-color);
	text-shadow: -0.01em 0.04em 0.1em black;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 20px 0;
}

h1 {
	font-size: 50px;
	text-align: center;
	margin: 20px 0;
}

.section {
	background-color: var(--palette1);
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.section p {
	font-size: var(--basic-font-size);
	text-align: center;
}

.section ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
	text-align: center;
}

.section ul li {
	display: inline;
	margin: 0 100px;
	text-decoration: none;
	font-size: 15px;
}

.fp-tooltip.fp-right {
	font-family: "Montserrat", sans-serif !important;
	font-size: 15px !important;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1; /* Ensure it stays in the background */
}

#globeControls {
	margin: 12px;
	display: flex;
	flex-direction: column;
	z-index: 5;
	grid-row: 2;
	justify-content: center;

	button {
		margin: 4px;
	}
}

#progressBarContainer {
	display: flex;
	align-items: center;
	gap: 10px;
	width: 75%;
	margin: auto;
}

#progressContainer {
	flex-grow: 1;
	background-color: var(--palette2);
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

#progressBar {
	height: 30px;
	background-color: var(--palette4);
	border-radius: 15px 0 0 15px;
}

#yearDisplay {
	font-weight: bold;
	margin-left: 10px;
}

#visualizerContainer {
	display: grid;
	grid-template-columns: 10% 35% 10% 35% 10%;
	width: 100vw;
}

.globeContainer {
	height: 100vh;
	display: grid;
	grid-template-rows: 5% 15% 65% 10% 5%;
	grid-template-columns: 100%;
}

#visualizerContent {
	align-content: center;
	margin-right: 50px;

	li {
		display: list-item;
		margin-left: 32px;
		margin-bottom: 16px;
		font-size: var(--basic-font-size);
	}
}

.control-button {
	background: none;
	border: none;
	font-size: 24px;
	cursor: pointer;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
	background: rgba(255, 255, 255, 0.606) !important;
}

#impact {
	height: 40rem;
}

#controls {
	margin: 20px 0;
}

button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: var(--palette4);
	color: var(--text-color);
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s;
	justify-content: center;
}

button:hover {
	background-color: var(--selected);
}

#my_dataviz {
	width: 80%;
	max-width: 800px;
	display: flex;
	justify-content: center;
	margin: auto;
}

svg {
	display: block;
	background-color: var(--palette1);;
	border-radius: 8px;
}

#myVideo{
	position: absolute;
	right: 0;
	bottom: 0;
	top:0;
	width: 100%;
	height: 100%;
	background-size: 100% 100%;
	background-color: black; /* in case the video doesn't fit the whole page*/
	/* background-image: /* our video */
	background-position: center center;
	background-size: contain;
	object-fit: cover; /*cover video background */
	z-index:3;
}

#section0 .layer{
	position: relative;
	z-index: 4;
	align-content: center;

	/*
	 * Preventing flicker on some browsers
	 * See http://stackoverflow.com/a/36671466/1081396  or issue #183
	 */
	-webkit-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	z-index: 2;
}

#sunburst-container,
#timeseries-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: auto;
	width: 100%;
	box-sizing: border-box;
	background-color: var(--palette1);
	padding: 20px;
	border-radius: 8px;
	margin: 20px 0;
}

#curve_info_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--palette1);
    padding: 10px;
    text-align: center;
}

#curve_info {
    font-size: var(--basic-font-size);
    color: var(--text-color);
}

#fading-text-container {
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

#fading-text-container.fade-in {
    opacity: 1;
}

nav {
    top: 170px; /* Lowered the navigation bar by 20px */
    width: 100%;
    padding: 1em 0;
    text-align: center;
    z-index: 1000;
}
nav a {
    color: white;
    margin: 0 1em;
    text-decoration: none;
    font-size: 1.2em;
    padding: 0.5em 1em;
    border-radius: 25px;
    transition: background 0.3s, color 0.3s;
}
nav a:hover {
    background: var(--palette2);
    color: white;
}

.sourceImpact {
	margin-top: 20px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	font-size: 0.9em;
	color: #555;
}


.pop {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.pop-in {
    opacity: 1;
    transform: scale(1);
}
